node_modules
/.next
/out
/build
*.tsbuildinfo
next-env.d.ts

# datos / db
dev.db
dev.db-journal
prisma/dev.db
prisma/dev.db-journal

# archivos subidos
/almacenamiento/cartillas/*
/almacenamiento/comprobantes/*
/almacenamiento/trabajos/*
!/almacenamiento/cartillas/.gitkeep
!/almacenamiento/comprobantes/.gitkeep
!/almacenamiento/trabajos/.gitkeep

# entorno
.env
.env*.local

.DS_Store
